


<div class="container align-items-center container-fluid">
    <div class="card"  style="width: 60rem; height: 66rem; top:10%;">
        <div class="card-body">
            <h5 class="card-title">Tutor Appointment Form</h5>

            <p class="card-text"></p>
            <form [formGroup]="ourForm" class="mt-5">

                <h3>Module Details</h3>
                <br/>

                <div class="form-row">


                    <div class="form-group col-md-5">
                
                        <label for="inputEmail4">Module Code</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="moduleCode">
                      </div>

                      <div class="form-group col-md-5">
                
                        <label for="inputEmail4">Module Name</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="moduleName">
                      </div>


                      
                      <div class="form-group col-md-5">
                      
                        <label for="inputEmail4">Module Lecturer</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="moduleLecture">
                      </div>
                      <div class="form-group col-md-5" >
                        <label for="inputState">Module Year</label>
                        <select id="inputState" class="form-control" formControlName="moduleYear">
                          <option selected>Year Module</option>
                          <option>Year Module</option>
                          <option>First Semester Module</option>
                          <option>Second Semester Module</option>
                        </select>
                      </div>
                        <div class="form-group col-md-5">
                
                        <label for="inputEmail4">Number of Students Enrolled</label>
                        <input type="email" class="form-control" id="inputEmail4" formControlName="studentEnrolled">
                      </div>
                      <div class="form-group col-md-10 ">
                
                        <label for="inputEmail4">Reason(s) for Request </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="reasonRequest"></textarea>
                      </div>

                    

                </div>

            </form>

            <form [formGroup]="ourForm" class="mt-5">

                <h2>Tutor's Details</h2>
            <br/>

            <div class="form-row">

                <div class="form-group col-md-5">
                
                    <label for="inputEmail4">Tutor's Name</label>
                    <input type="email" class="form-control" id="inputEmail4" formControlName="tutorName" >
                  </div>

                  <div class="form-group col-md-5">
                
                    <label for="inputEmail4">Tutor's Surname</label>
                    <input type="email" class="form-control" id="inputEmail4" formControlName="tutorSurname">
                  </div>

                  <div class="form-group col-md-5">
                
                    <label for="inputEmail4">Tutor's Student Number</label>
                    <input type="email" class="form-control" id="inputEmail4" formControlName="studentNum">
                  </div>

                  <div class="form-group col-md-5">
                    <label for="inputState">Year of Study</label>
                    <select id="inputState" class="form-control" formControlName="studentNum">
                      <option selected>First Year</option>
                      
                      <option>First Year</option>
                      <option>Second Year</option>
                      <option>Third Year</option>
                      <option>Fourth Year</option>
                    </select>
                  </div>

                  <div class="form-group col-md-5">
                
                    <label for="inputEmail4">Number of Session(s) per week </label>
                    <input type="email" class="form-control" id="inputEmail4" formControlName="sessionNum">
                  </div>

                  <div class="form-group col-md-5">
                
                    <label for="inputEmail4">Number of Hour(s) per week </label>
                    <input type="email" class="form-control" id="inputEmail4" formControlName="numHours">
                  </div>

                  

    
            </div>
            </form>

            <button   class="button" (click)="submitData(ourForm.value)" [routerLink]="['/Submit']" routerLinkActive="router-link-active" >Submit</button>
  
            <button [routerLink]="['/login']" routerLinkActive="router-link-active" class="button">Logout</button>
        </div>
    </div>
</div>
